<div class="col">
  <a
    href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}"
    {% if project.redirect contains '://' %}
      target="_blank" rel="noopener noreferrer"
    {% endif %}
  >
    <div class="card h-100 hoverable">
      {% if project.img %}
        {% if project.img contains '.gif' %}
          <img
            class="card-img-top"
            src="{{ project.img | relative_url }}"
            alt="project thumbnail"
            loading="lazy"
          >
        {% else %}
          {%
            include figure.liquid
            loading="eager"
            path=project.img
            sizes = "250px"
            alt="project thumbnail"
            class="card-img-top"
          %}
        {% endif %}
      {% endif %}
      <div class="card-body">
        <p class="project-card-kicker">
          {% if project.category %}
            {{ project.category }}
          {% else %}
            Project
          {% endif %}
        </p>
        <h2 class="card-title">{{ project.title }}</h2>
        <p class="card-text">{{ project.description }}</p>
        <div class="project-card-footer">
          <span class="project-card-cta">
            {% if project.redirect contains '://' %}
              Open project
            {% else %}
              View details
            {% endif %}
          </span>
          {% if project.github %}
            <span class="project-card-github">
              <i class="fa-brands fa-github gh-icon"></i>
              {% if project.github_stars %}
                <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                  <i class="fa-solid fa-star"></i>
                  <span id="{{ project.github_stars }}-stars"></span>
                </span>
              {% endif %}
            </span>
          {% endif %}
        </div>
      </div>
    </div>
  </a>
</div>
